.outline-row.depth-1 { padding-left: 19px; }
.outline-row.depth-2 { padding-left: 28px; }
.outline-row.depth-3 { padding-left: 37px; }
.outline-row.depth-4 { padding-left: 46px; }
.outline-row.depth-5 { padding-left: 55px; }
.outline-row.depth-6 { padding-left: 64px; }
